body {
	background: linear-gradient(to left, #f65eb7, #ef8ec7);
}

.container {
	width: 900px;
	margin: auto;
	box-shadow: 0px 10px 30px -10px;
}

.header {
	background-color: rgb(red, green, blue);
	padding: 30px;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
}

.navigasi {
	background-color: rgb(red, green, blue);
	padding: 30px;
	font-size: larger;
}

.content {
	background-color: rgb(red, green, blue);
	padding: 70px;
	text-align: center;
}

.center-text {
	display: inline-block;
}

.calc {
    background: transparent;
    padding: 100px;
    border-radius: 70px;
}

.calc form input {
    border: none;
    outline: none;
    width: 70px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    margin: 10px;
}

.footer {
	background-color:  #f4f4f4;
	padding: 10px;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
}

a.one:visited {color: #000000;}
a.one:hover {font-size: 80%;}
a.two:visited {color: #000000;}
a.two:hover {font-size: 80%;}
a.three:visited {color: #000000;}
a.three:hover {font-size: 80%}
a.four:visited {color: #000000;}
a.four:hover {font-size: 80%}
a.five:visited {color: #000000;}
a.five:hover {font-size: 80%}